div.field-collapse_fields label {
	text-align: left;
}

div.field-collapse_fields label h4 {
	margin: 0;
	cursor: hand;
	cursor: pointer;
}

.collapse_fields_last {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}